@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;

  color: #DFF1FF;
  background-color: #1e293b;
}

body {
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

input {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  background-color: #1e293b;
  color: #DFF1FF;
  border: none;
  border-bottom: 1px solid #DFF1FF;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type="file"]{
  border-radius: 4px;
}

select {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: larger;
  padding: 10px;
  width: 375px;
  color: #DFF1FF;
  background-color: #1e293b;
  border: none;
  border-bottom: 1px solid #DFF1FF;
  outline: none;
}

ul{
  list-style: none;
}

a{
  color: #DFF1FF;
  border: none;
  text-decoration: none;
}

a:hover{
  border-bottom: 1px solid #DFF1FF;
}

textarea {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  color: #DFF1FF;
  background-color: #1e293b;
  width: 375px;
  height: 180px;
}
